@font-face {
  font-family: "Retro Gaming";
  //src: font_url('fonts/Retro Gaming.ttf'), format('truetype');
  src: font-url('Retro-Gaming.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Define fonts for body and headers
$body-font: "Retro Gaming", sans-serif;
$headers-font: "Press Start 2P", sans-serif;

body {
  font-family: 'Retro Gaming', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', sans-serif;
}
