.title-achievement{
  font-size: 14px !important;
}
.desc-title{
  font-size: 15px !important;
}

.desc-body{
  padding-left: 15px;
  padding-bottom: 20px;
}

.desc-reward{
  text-transform: uppercase;
  padding-left: 10px;
}

.end{
  padding-bottom: 20px;
}
