// Titre et body font-size
.title-achievement{
  font-size: 14px !important;
  padding-top:0;
}
.achiTitle{
  text-transform: capitalize !important;
  font-size: 14px !important;
  color: #000000 !important;
}
.bodyTitle{
  font-size: 12px !important;
  line-height: 1.8em !important;
}
