// Import page-specific CSS files here.
@import "home";

//color palette

body{
 // background: url(bg.jpg) !important ;
 // background-color: #F1EEE6 !important;
 background-color: #fefefe !important;
}

//fond de couleur des border quest
.colored{
  background-color: #FFFDF5 !important;
}

// end color palette

// padding container
.container{
  padding: 0 20px !important;
}

.profileLessPadding{
  padding: 10px !important;
}
// end padding container

.button-edit{
  text-decoration: none;
  color: #000000;
  font-size: 15px !important;
}

.button-style{
  padding: 10px 0 !important;
  margin: 0 !important;
}
.margin-button{
  margin: 30px 0 !important;
}

// font size
h2 {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
}

h3 {
  font-size: 16px !important;
  text-transform: capitalize !important;
  color: #000000 !important;
}

h4 {
  font-size: 14px !important;
  color: #383838 !important;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
}
.blueTitle{
  color: #455eb2;
}
.coloredBorder{
  border-bottom: 2px solid black;
  //border-color:#455eb2 ;
}

// end font size

// Profile
.icons{
  width: 30px;
  height: 30px;
}

.padding-fixed{
  padding-left: 0 !important;
  padding-right: 28px !important;
}

.border-bottom{
  border-bottom: 1.5px solid #D04B22 !important;

}

.username-profile{
  margin-left: 5px;
}


.padding-user{
  margin-left: 9px;
}

.padding-lv{
  margin-left: 29px;
}

// profile avatar
.profile-container {
  position: relative;
  width: 90%;
  display: inline-block;
}

.profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 80%;
}

.big-frame {
  position: absolute;
  top: 0;
  left: -6px;
  width: 105%;
  height: 100%;
}

// divider
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

// exp
.progress-text {
  position: absolute;
  left: 20%;
  top: 69%;
  color: black;
}



// tabs
.tabs {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.tab-link {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: grey;
  outline: none;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.tab-link:hover {
  color: darkgrey;
}

.tab-link.active {
  color: black;
  border-bottom: 2px solid black;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

// pixel-box

.margins {
  background-color: #FFFDF5 !important;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}

hr {
  border: solid 1.5px #163290;
}

// exp bar
.pixel-corners-container {
  position: relative;
  width: 100%;
}
// bar xp pixel
.pixel-corners-2,
.pixel-corners-2--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners-2 {
  border: 5px solid transparent;
}
.pixel-corners-2--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-2--wrapper .pixel-corners-2 {
  display: block;
  clip-path: polygon(5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px));
}
.pixel-corners-2::after,
.pixel-corners-2--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px,
    0px 50%,
    5px 50%,
    5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px),
    5px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #335732;
  display: block;
  pointer-events: none;
}
.pixel-corners-2::after {
  margin: -5px;
}
//fin bar xp
.progress {

}

.progress-bar {
  background-color:  rgb(133,164,101) !important;
}

// icones

p .info-icon {
  max-width: 30px !important;
  max-height: 30px !important;
  margin: 0 2px 0 0;
}

// chart
.coloredChart{
  background-color: #FFFDF5;
}
