// CSS du formulaire de la page NEW
.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form .form-group {
  margin-bottom: 15px;
}

.form .btn {
  margin-right: 10px;
}

.form .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.select {
  margin-top: 0;
  font-size: 16px !important;
}

// Titre H6
.customTitleShow{
  font-size: 15px;
}

.noPaddingNew img{
  margin-left: 0 !important;
}

// Moins de padding dans le container pour le titre
.lessPadding{
  padding: 15px !important;
}
