.desc-title{
  font-size: 15px !important;
}

.desc-body{
  padding-left: 15px;
  padding-bottom: 16px;
}

// Titre de la reward
.desc-reward{
  text-transform: uppercase;
  padding-left: 10px;
}

.desc-steps{
  font-size: 15px !important;
  text-transform: capitalize !important;
  margin-bottom: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 90%;
  text-align: center;
}

.hidden {
  display: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.unstyled-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/* Agrandir les cases à cocher */
.large-checkbox {
  width: 15px;
  height: 15px;
  transform: scale(1.5);
}

/* Agrandir le texte à côté des cases à cocher */
.large-text {
  font-size: 1.2em;
  margin-left: 10px;

}

.text-wrap {
  word-wrap: break-word;
  white-space: normal;
}


//bouton accept bleu
.bgBlue{
  background-color: #455eb2;
}
.pixel-corners-3,
.pixel-corners-3--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners-3 {
  border: 5px solid transparent;
}
.pixel-corners-3--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-3--wrapper .pixel-corners-3 {
  display: block;
  clip-path: polygon(5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px));
}
.pixel-corners-3::after,
.pixel-corners-3--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px,
    0px 50%,
    5px 50%,
    5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px),
    5px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #163290;
  display: block;
  pointer-events: none;
}
.pixel-corners-3::after {
  margin: -5px;
}


//bouton complete vert
.bgGreen{
  background-color:#85a465 ;
}



.pixel-corners-4,
.pixel-corners-4--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners-4 {
  border: 5px solid transparent;
}
.pixel-corners-4--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-4--wrapper .pixel-corners-4 {
  display: block;
  clip-path: polygon(5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px));
}
.pixel-corners-4::after,
.pixel-corners-4--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px,
    0px 50%,
    5px 50%,
    5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px),
    5px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #335732;
  display: block;
  pointer-events: none;
}
.pixel-corners-4::after {
  margin: -5px;
}
