.title-quest{
  font-size: 15px !important;
  text-transform: capitalize !important;
}
.body-quest{
  font-size: 13px !important;
}


.colored{
  background-color: antiquewhite
}

.quest-margin{
  margin-bottom: 0;
  padding-bottom: 25px;
}


.add-quest-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0 10px 12px 0;
}

.add-quest-link img {
  margin: 0 10px 0 7px;
  height: 20px;
  width: auto;
}

.add-quest-link:hover {
  color: black;
}
