<!-- views/tasks/_step_fields.html.erb -->
<div class="step-field">
  <%= f.input :content, label: "Checkpoint Description" %>
  <%= f.input :status, collection: ['pending', 'completed'], as: :select, label: "Status" %>
  <%= link_to 'Remove Checkpoint', '#', class: 'remove-step' %>
</div>
