<div class="home">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>TO-DO <br> QUEST</h1>
        <div class="select">
          <a href="#" class="eightbit-btn">new game</a><hr/>
          <a href="#" class="eightbit-btn eightbit-btn--proceed">continue</a><hr/>
        </div>
    </div>
  </div>
  <footer class="footer">
      <div class="container text-center">
          <p>&copy;2024 All rights reserved.</p>
      </div>
  </footer>
</div>
